[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
Pillow = "*"

networkx = "*"
pydot = "*"

numpy = "*"

z3-solver = "==4.12.5.0"
clingo = "==5.6.2"
python-sat = {version="==0.1.8.dev12", extras=["aiger", "approxmc", "cryptosat", "pblib"]}
cvc5 = "==1.1.1"
scipy = "==1.11.4"
cvxpy = "==1.4.1"

[dev-packages]
