[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
networkx = "*"
numpy = "*"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

[solvers-minimal]
networkx = "*"
numpy = "*"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

python-sat = "==1.8.dev14"

[solvers-all]
networkx = "*"
numpy = "*"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

clingo = "==5.7.1"
cvc5 = "==1.2.1"
cvxpy = "==1.6.2"
python-sat = {version="==1.8.dev14", extras=["aiger", "approxmc", "cryptosat", "pblib"]}
scipy = "==1.15.2"
z3-solver = "==4.14.0.0"
