[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
networkx = "*"
numpy = "<2"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

[solvers-minimal]
networkx = "*"
numpy = "<2"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

python-sat = "==0.1.8.dev12"

[solvers-all]
networkx = "*"
numpy = "<2"
Pillow = "*"
pydot = "*"
reportlab = "*"
squarify = "*"
webcolors = "*"

clingo = "==5.6.2"
cvc5 = "==1.1.1"
cvxpy = "==1.4.1"
python-sat = {version="==0.1.8.dev12", extras=["aiger", "approxmc", "cryptosat", "pblib"]}
scipy = "==1.11.4"
z3-solver = "==4.12.5.0"
